<head>
    <title>DOE, JOHN 1234567891101</title>
</head>
<body>
    <button id="printbutton">Print</button>
    <a href="../media/DOE JOHN.json" download>Download JSON File</a>
    <div id="basicpt">
        <h2>Name: DOE, JOHN</h2>
        <div id="basicpt2">
            <h4>Sex/Gender: MALE/MALE</h4>
            <h4>ID Number: 1234567891101</h4>
            <h4>Date of Birth: 1982-03-15</h4>
        </div>
    </div>
    <div id="ptinfo">
        <div class="nextto">
            <div>
                <h4>Medical History Overview</h4>
                <h5>Medical Conditions: NONE</h5>
                <h5>Allergies: NONE</h5>
                <h5>Medicines: NONE</h5>
            </div>
            <div>
                <h4>Demographic Information</h4>
                <h5>Employment Status: EMPLOYED</h5>
                <h5>Employer: GROCERY STORE</h5>
                <h5>Marital Status: MARRIED</h5>
            </div>
        </div>
        <div class="nextto">
            <div>
                <h4>Contact Information</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Email:</td>
                            <td>JDOE@EMAIL.COM</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>123 456 7890</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>12 MAIN ROAD</td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td>CARNARVON</td>
                        </tr>
                        <tr>
                            <td>Province:</td>
                            <td>NC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h4>Emergency Contacts</h4>
                <table class="smalltable">
                    <thead>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Relationship</th>
                        <th>Phone</th>
                    </thead>
                        <tr>
                            <td>JANE</td>
                            <td>DOE</td>
                            <td>SPOUSE</td>
                            <td>987 654 3210</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="pagebreak"></div>
    <div class="consultations">
        <div class="consultation">
            <h4>Consultation 009</h4>
            <table class="smalltable">
                <thead>
                    <th>Date</th>
                    <th>Time Started</th>
                    <th>Time Ended</th>
                </thead>
                <tr>
                    <td>2025-07-18</td>
                    <td>09:27</td>
                    <td>09:49</td>
                </tr>
            </table>
            <table>
                <thead>
                    <th>Site Location</th>
                    <th>Presiding Onsite Staff</th>
                    <th>Presiding Remote Staff</th>
                </thead>
                <tr>
                    <td>Carnarvon Clinic</td>
                    <td>Sr Patricia Thomas</td>
                    <td>Dr Mary Roland</td>
                </tr>
            </table>
            <h5>Medical Data</h5>
            <table class="smalltable">
                <thead>
                    <th>Height (cm)</th>
                    <th>Weight (kg)</th>
                    <th>BMI</th>
                    <th>Temp (C)</th>
                    <th>SpO2 (%)</th>
                </thead>
                <tr>
                    <td>170</td>
                    <td>65</td>
                    <td>23</td>
                    <td>37</td>
                    <td>97</td>
                </tr>
                <thead>
                    <th>Heart Rate (bpm)</th>
                    <th>Resp. Rate (breaths/min)</th>
                    <th>Blood Pressure (SYS/DIA)</th>
                    <th>Glucose (mmol/L)</th>
                    <th>Hemoglobin (g/dl)</th>
                </thead>
                <tr>
                    <td>74</td>
                    <td>14</td>
                    <td>120/80</td>
                    <td></td>
                    <td>15</td>
                </tr>
            </table>
            <div>
                <h6>General Exam Notes:</h6>
                <p>Acute rash on chest, arms, legs. No bleeding, bruising, loss of weight, or headaches. No recorded allergies.</p>
                <h6>Final Assessment:</h6>
                <p>Viral illness 1 week ago. Rash distributed on chest, upper right arm, left forearm, and both shins. Multiple discrete lesions. Macular, round lesions ranging from 1-3mm in diameter. Final diagnosis: immune thrombocytopenia. Patient sent home to monitor condition over the next week and return to clinic if rash worsens</p>
                <h6>Prescriptions:</h6>
                <p>N/A</p>
            </div>
            <div>
                <h6>Images/Video</h6>
                <p>Images and video from consult would be shown/linked here.</p>
            </div>
        </div>
        <div class="consultation">
            <h4>Consultation 008</h4>
            <table class="smalltable">
                <thead>
                    <th>Date</th>
                    <th>Time Started</th>
                    <th>Time Ended</th>
                </thead>
                <tr>
                    <td>2025-01-15</td>
                    <td>14:08</td>
                    <td>14:40</td>
                </tr>
            </table>
            <table>
                <thead>
                    <th>Site Location</th>
                    <th>Presiding Onsite Staff</th>
                    <th>Presiding Remote Staff</th>
                </thead>
                <tr>
                    <td>Carnarvon Clinic</td>
                    <td>Sr Patricia Thomas</td>
                    <td>Dr Mary Roland</td>
                </tr>
            </table>
            <h5>Medical Data</h5>
            <table class="smalltable">
                <thead>
                    <th>Height (cm)</th>
                    <th>Weight (kg)</th>
                    <th>BMI</th>
                    <th>Temp (C)</th>
                    <th>SpO2 (%)</th>
                </thead>
                <tr>
                    <td>170</td>
                    <td>64</td>
                    <td>23</td>
                    <td>37</td>
                    <td>99</td>
                </tr>
                <thead>
                    <th>Heart Rate (bpm)</th>
                    <th>Resp. Rate (breaths/min)</th>
                    <th>Blood Pressure (SYS/DIA)</th>
                    <th>Glucose (mmol/L)</th>
                    <th>Hemoglobin (g/dl)</th>
                </thead>
                <tr>
                    <td>72</td>
                    <td></td>
                    <td>115/75</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div>
                <h6>General Exam Notes:</h6>
                <p>Wellness checkup/yearly physical</p>
                <h6>Final Assessment:</h6>
                <p>No concerns.</p>
                <h6>Prescriptions:</h6>
                <p>N/A</p>
            </div>
            <div>
                <h6>Images/Video</h6>
                <p>Images and video from consult would be shown/linked here.</p>
            </div>
        </div>
    </div>
</body>
<script src="../js/exportpreview.js"></script>