<head>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a class="header_links" href="index.html" id="home"><i  class="material-icons">home</i></a>
        <div class="nav_bar">
            <div class="dropdown">
                <a class="header_links" href="#">Virtual Clinic<i class="material-icons">expand_more</i></a>
                <div class="drop">
                    <a class="drop_link" href="addpatient.html">Add Patient</a>
                    <a class="drop_link" href="recordlist.html">Patient Records</a>
                    <a class="drop_link" href="recordlist.html">Start Consultation</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="header_links" href="resources.html">Resources<i class="material-icons">expand_more</i><br></a>
                <div class="drop">
                    <a class="drop_link" href="resources.html">Video Guides</a>
                    <a class="drop_link" href="quickstart.html">FAQ</a>
                    <a class="drop_link" href="ticket.html">Contact Us</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="header_links" href="profile.html">Account<i class="material-icons">expand_more</i><br></a>
                <div class="drop">
                    <a class="drop_link" href="mailbox.html"><i class="material-icons">mail</i>Mailbox</a>
                    <a class="drop_link" href="profile.html"><i class="material-icons">account_circle</i>Account Details</a>
                    <a class="drop_link" href="login.html"><i class="material-icons">logout</i>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="cards">
            <div class="row1">
                <a href="addpatient.html" class="card">            
                    <i class="material-icons">person_add</i>
                    <h2>Add Patient</h2>
                </a>
                <a href="recordlist.html" class="card">            
                    <i class="material-icons">folder</i>
                    <h2>View Patient Records</h2>
                </a>
                <a href="recordlist.html" class="card">            
                    <i class="material-icons">meeting_room</i>
                    <h2>Start Consultation</h2>
                </a>
            </div>
            <div class="row2">
                <a href="resources.html" class="card">            
                    <i class="material-icons">play_circle</i>
                    <h2>Video Guides</h2>
                </a>            
                <a href="quickstart.html" class="card">            
                    <i class="material-icons">help</i>
                    <h2>FAQs</h2>
                </a>
                <a href="ticket.html" class="card">            
                    <i class="material-icons">support_agent</i>
                    <h2>Contact Us</h2>
                </a>
            </div>
        </div>
    </div>
    <a id="backbutton" href="../index.html"><i class="material-icons">arrow_left</i>Return Back to Project Website</a>
</body>