<html>
    <head>
        <link rel="stylesheet" href="../styles/general.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/mailbox.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a class="header_links" href="index.html" id="home"><i  class="material-icons">home</i></a>
            <div class="nav_bar">
                <div class="dropdown">
                    <a class="header_links" href="#">Virtual Clinic<i class="material-icons">expand_more</i></a>
                    <div class="drop">
                        <a class="drop_link" href="addpatient.html">Add Patient</a>
                        <a class="drop_link" href="recordlist.html">Patient Records</a>
                        <a class="drop_link" href="recordlist.html">Start Consultation</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="header_links" href="resources.html">Resources<i class="material-icons">expand_more</i><br></a>
                    <div class="drop">
                        <a class="drop_link" href="resources.html">Video Guides</a>
                        <a class="drop_link" href="quickstart.html">FAQ</a>
                        <a class="drop_link" href="ticket.html">Contact Us</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="header_links" href="profile.html">Account<i class="material-icons">expand_more</i><br></a>
                    <div class="drop">
                        <a class="drop_link" href="mailbox.html"><i class="material-icons">mail</i>Mailbox</a>
                        <a class="drop_link" href="profile.html"><i class="material-icons">account_circle</i>Account Details</a>
                        <a class="drop_link" href="login.html"><i class="material-icons">logout</i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nonloader">
            <h1>Mailbox</h1>
            <div class="message">
                <div class="message-header">
                    <h3>Request to Join Consultation</h3>
                </div>
                <div class="message-body">
                    <p>Date: 21 Jun 2025</p>
                    <p>Time: 13:45</p>
                    <p>Dear Dr Mary Roland,</p>
                    <p>You have been requested by Sr. Patty Thomas of Carnarvon Clinic to join a consult for John Doe.</p>
                    <p>Request sent on 21 Jun 2025 at 13:45.</p><br>
                    <a href="consultplatform.html">Join the Consultation</a>
                    <a href="record.html">Review John Doe's Record</a>
                </div>
            </div>
        </div>
    </body>
</html>