<html>
    <head>
        <link rel="stylesheet" href="../styles/general.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/mailbox.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a class="header_links" href="index.html" id="home"><i  class="material-icons">home</i></a>
            <div class="nav_bar">
                <div class="dropdown">
                    <a class="header_links" href="#">Virtual Clinic<i class="material-icons">expand_more</i></a>
                    <div class="drop">
                        <a class="drop_link" href="addpatient.html">Add Patient</a>
                        <a class="drop_link" href="recordlist.html">Patient Records</a>
                        <a class="drop_link" href="recordlist.html">Start Consultation</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="header_links" href="resources.html">Resources<i class="material-icons">expand_more</i><br></a>
                    <div class="drop">
                        <a class="drop_link" href="resources.html">Video Guides</a>
                        <a class="drop_link" href="quickstart.html">FAQ</a>
                        <a class="drop_link" href="ticket.html">Contact Us</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="header_links" href="profile.html">Account<i class="material-icons">expand_more</i><br></a>
                    <div class="drop">
                        <a class="drop_link" href="mailbox.html"><i class="material-icons">mail</i>Mailbox</a>
                        <a class="drop_link" href="profile.html"><i class="material-icons">account_circle</i>Account Details</a>
                        <a class="drop_link" href="login.html"><i class="material-icons">logout</i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nonloader">
            <h1>User Account Overview</h1>
            <p class="detailchange">If you would like to change these details, please contact admin <a class="detaillink" href="ticket.html">here</a>.</p>
            <p>First Name: Mary</p>
            <p>Last Name: Roland</p>
            <p>Email: mroland@healthfacility.co</p>
            <p>Work Phone: 123 456 7890</p>
            <p>Mobile Phone: 987 654 3210</p>
            <p>Account Type: Doctor</p>
            <p>Facility Name: Kimberly Hospital</p>
            <p>Employer Name: Department of Health, Northern Cape Province</p>
            <p>Location: Kimberly, Northern Cape</p>
            <p>Registration Number: 123456789</p>
            <p>Language Preference: Afrikaans</p>
            <p>Additional Languages Spoken: English, isiXhosa</p>
        </div>
    </body>
</html>