<head>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/quickstart.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../js/ticket.js"></script>
</head>
<body>
    <div class="header">
        <a class="header_links" href="index.html" id="home"><i  class="material-icons">home</i></a>
        <div class="nav_bar">
            <div class="dropdown">
                <a class="header_links" href="#">Virtual Clinic<i class="material-icons">expand_more</i></a>
                <div class="drop">
                    <a class="drop_link" href="addpatient.html">Add Patient</a>
                    <a class="drop_link" href="recordlist.html">Patient Records</a>
                    <a class="drop_link" href="recordlist.html">Start Consultation</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="header_links" href="resources.html">Resources<i class="material-icons">expand_more</i><br></a>
                <div class="drop">
                    <a class="drop_link" href="resources.html">Video Guides</a>
                    <a class="drop_link" href="quickstart.html">FAQ</a>
                    <a class="drop_link" href="ticket.html">Contact Us</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="header_links" href="profile.html">Account<i class="material-icons">expand_more</i><br></a>
                <div class="drop">
                    <a class="drop_link" href="mailbox.html"><i class="material-icons">mail</i>Mailbox</a>
                    <a class="drop_link" href="profile.html"><i class="material-icons">account_circle</i>Account Details</a>
                    <a class="drop_link" href="login.html"><i class="material-icons">logout</i>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="content">
            <h2>Tutorials and Additional Information</h2>
            <p>There are 4 tutorials available to practice using the virtual clinic. To run them, you must have PowerPoint installed. The tutorials increase in difficulty as they go on. They work without devices, though it is best to practice using the devices alongside the tutorials.</p>
            <a href="../media/Tutorial 1 - Beginner (Migraine).pptx" download>Download Tutorial 1 (Beginner)</a>
            <a href="../media/Tutorial 2 - Intermediate (Eczema).pptx" download>Download Tutorial 2 (Intermediate)</a>
            <a href="../media/Tutorial 3 - Expert (Cardiac).pptx" download>Download Tutorial 3 (Expert)</a>
            <a href="../media/Tutorial 4 - Expert (Flu).pptx" download>Download Tutorial 4 (Expert)</a>
            <p>There are also some documents outlining supporting information that is not necessary to know to use the system, but may be of interest to users. See materials below:</p>
            <a href="../media/Article 1.pdf" download>Internet Connectivity using the Virtual Clinic</a>
            <a href="../media/Article 2.pdf" download>Development of the Initial Virtual Clinic System</a>
            <a href="../media/Article 3.pdf" download>How to Select Transcription and Translation Models</a>
        </div>
    </div>
</body>